<header class="cabecalho-principal">
    <div class="onda-svg">
        <svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 490" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                    <stop stop-color="rgb(36, 130, 57)" offset="0%"></stop>
                    <stop stop-color="rgb(36, 130, 57)" offset="100%"></stop>
                </linearGradient>
            </defs>
            <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)"
                d="M0,245L1440,343L2880,392L4320,49L5760,392L7200,98L8640,147L10080,245L11520,441L12960,196L14400,343L15840,98L17280,0L18720,441L20160,196L21600,0L23040,294L24480,245L25920,294L27360,147L28800,294L30240,441L31680,0L33120,98L34560,196L34560,490L33120,490L31680,490L30240,490L28800,490L27360,490L25920,490L24480,490L23040,490L21600,490L20160,490L18720,490L17280,490L15840,490L14400,490L12960,490L11520,490L10080,490L8640,490L7200,490L5760,490L4320,490L2880,490L1440,490L0,490Z">
            </path>
            <defs>
                <linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0">
                    <stop stop-color="rgb(36, 130, 57)" offset="0%"></stop>
                    <stop stop-color="rgb(78, 207, 106)" offset="100%"></stop>
                </linearGradient>
            </defs>
            <path style="transform:translate(0, 50px); opacity:0.9" fill="url(#sw-gradient-1)"
                d="M0,98L1440,294L2880,441L4320,0L5760,0L7200,98L8640,294L10080,147L11520,196L12960,147L14400,294L15840,392L17280,196L18720,392L20160,147L21600,0L23040,49L24480,245L25920,98L27360,49L28800,49L30240,49L31680,343L33120,392L34560,49L34560,490L33120,490L31680,490L30240,490L28800,490L27360,490L25920,490L24480,490L23040,490L21600,490L20160,490L18720,490L17280,490L15840,490L14400,490L12960,490L11520,490L10080,490L8640,490L7200,490L5760,490L4320,490L2880,490L1440,490L0,490Z">
            </path>
            <defs>
                <linearGradient id="sw-gradient-2" x1="0" x2="0" y1="1" y2="0">
                    <stop stop-color="rgb(36, 130, 57)" offset="0%"></stop>
                    <stop stop-color="rgb(36, 130, 57)" offset="100%"></stop>
                </linearGradient>
            </defs>
            <path style="transform:translate(0, 100px); opacity:0.8" fill="url(#sw-gradient-2)"
                d="M0,343L1440,245L2880,392L4320,98L5760,392L7200,147L8640,392L10080,441L11520,49L12960,441L14400,49L15840,196L17280,294L18720,294L20160,294L21600,392L23040,294L24480,147L25920,196L27360,343L28800,49L30240,245L31680,0L33120,343L34560,49L34560,490L33120,490L31680,490L30240,490L28800,490L27360,490L25920,490L24480,490L23040,490L21600,490L20160,490L18720,490L17280,490L15840,490L14400,490L12960,490L11520,490L10080,490L8640,490L7200,490L5760,490L4320,490L2880,490L1440,490L0,490Z">
            </path>
        </svg>
    </div>

    <div class="cabecalho-principal-logo-e-nav">
        <picture style="position: relative; top: -20px; left: 30px;">
            <source media="(max-width:530px )" srcset="../img/LogotipoMobile.png">
            <img src="../img/Logotipo.png" alt="Logotipo">
        </picture>

        <nav class="cabecalho-principal-nav responsive" id="menuResponsive">
            <ul class="cabecalho-principal-nav-itens">
                <li><a class="cabecalho-principal-nav-itens-a  home" href="/home">Home</a></li>
                <li><a class="cabecalho-principal-nav-itens-a" href="/centroscustos">Centro de custos</a>
                </li>
                <li><a class="cabecalho-principal-nav-itens-a" href="/relatorio">Relatório</a></li>
                <li><a class="cabecalho-principal-nav-itens-a last" href="/transacao">Transação</a></li>
            </ul>
            <div class="cabecalho-principal-nav-btn">
                <a href="/login"><button class="cabecalho-principal-nav-sign-in">Entrar</button></a>
                <a href="/cadastro"><button class="cabecalho-principal-nav-sign-up">Cadastre-se</button></a>
            </div>
        </nav>

        <div class="nav-responsive" id="navResponsive"></div>

    </div>
</header>