@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sora:wght@300&display=swap');
main{
    padding: 100px;
}
.btn{
    margin-top: 30px;
    border: solid green 2px;
    padding: 12px;
    font-size: 17px;
    background-color: none;
    transition: .3s;
    font-weight: bold;
}

.btn:hover{
    padding: 15px;
    font-size: 20px;
    background-color: green;
    color: white;
}

#box{
    padding: 7px;
}
h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

p {
    font-family: 'Sora', sans-serif;
    font-size: 25px;
}